{% extends "template.html" %} {% block content %}

<form
  class="position-absolute top-50 start-50 translate-middle"
  style="max-width: 300px"
  method="post"
  action="/login"
>
  <h1 class="h3 mb-3 fw-normal">Please sign-in/sign-up</h1>
  <input
    type="name"
    class="form-control"
    id="name"
    name="name"
    placeholder="Full Name"
  />
  <input
    type="email"
    class="mt-2 form-control"
    id="email"
    name="email"
    placeholder="name@example.com"
  />
  <input
    type="password"
    class="mt-2 form-control"
    id="password"
    name="password"
    placeholder="Password"
  />
  <div
    class="mt-2 alert alert-danger"
    role="alert"
    style="display: none"
    id="login_error"
  >
    Incorrect username or password
  </div>
  <button class="mt-2 w-100 btn btn-lg btn-primary" type="submit">
    Sign in/up
  </button>
</form>

<script>
  const login_error = document.getElementById("login_error");
  if (document.documentURI.includes("error=True")) {
    login_error.style.display = "block";
  }
</script>
{% endblock %}
